{% extends "layout.html" %}
{% block calendar %}{% include "_calendar.html" %}{% endblock %}
{% block main_content %}
<form class="ht-form" action="{{ url_for('habit_tracker.add_habit') }}" method="post">
  <label class="ht-form__label" for="name">Habit name</label>
  <input
    class="ht-form__input"
    type="text"
    id="name"
    name="name"
    placeholder="e.g. Drink water"
    autofocus
    required
  />
  <div class="ht-form__actions">
    <a class="ht-form__cancel" href="{{ url_for('habit_tracker.index') }}">Cancel</a>
    <button class="ht-form__submit" type="submit">Add habit</button>
  </div>
</form>
{% endblock %}
