{% extends "layout.html" %}
{% block main_content %}
<section class="pf-contact">
  <dl class="pf-contact__list">
    <div class="pf-contact__row">
      <dt>Email:</dt>
      <dd><a href="mailto:jose@tecladocode.com">jose [at] tecladocode.com</a></dd>
    </div>
    <div class="pf-contact__row">
      <dt>GitHub:</dt>
      <dd><a href="https://github.com/tecladocode" target="_blank" rel="noopener">@tecladocode</a></dd>
    </div>
    <div class="pf-contact__row">
      <dt>Twitter:</dt>
      <dd><a href="https://twitter.com/tecladocode" target="_blank" rel="noopener">@tecladocode</a></dd>
    </div>
  </dl>
</section>
{% endblock %}
