{% extends "layout.html" %}
{% block main_content %}
<article class="pf-detail">
  <img class="pf-detail__hero" src="{{ project.image }}" alt="" />
  <div class="pf-detail__grid">
    <div class="pf-detail__body">
      <h2 class="pf-detail__title">{{ project.title }}</h2>
      {% for paragraph in project.description %}
      <p>{{ paragraph }}</p>
      {% endfor %}
    </div>
    <aside class="pf-detail__sidebar">
      <h3>Technologies used</h3>
      <ul class="pf-tech-list">
        {% for tech in project.technologies %}
        <li>{{ tech }}</li>
        {% endfor %}
      </ul>
      <a class="pf-btn" href="{{ project.production_url }}" target="_blank" rel="noopener"
        >View in production</a
      >
    </aside>
  </div>
</article>
{% endblock %}
